@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: local("Roboto"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: local("Roboto Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: local("Roboto Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  
}

html {
  margin: 0;
  padding: 0;
  color: black;
  background-color: rgba(132, 157, 143, 1);
  opacity: 1;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 1em; 
  font-weight: normal;
  line-height: 1.2em;
  color: white;
  background-color: inherit;
}

.body-main-page {
  background-color: inherit;
  background-image: url("../img/header-ice-1.png"),
  radial-gradient(at 50% 50%,rgba(207, 246, 225, 0.5) 0%,  rgba(132, 157, 143, 0.1) 60%,  rgba(132, 157, 143, 1) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center 50px, center top;
  background-size: 647px 584px, 900px 584px;
}

* {
  webkit-box-sizing: inherit;
  moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  font-size: 1em;
  font-weight: 600;
  color: black; 
}

a.on-dark {
  color: white;
}

a:hover,
a:active { 
  color: rgba(255, 188, 158, 1);
}

.gllacy-fieldset {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;
  padding: 0;
  font-size: 1em;
  border: 1px solid transparent;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.2);
}

.gllacy-fieldset-legend {
  position: absolute;
  left:0;
  top: -1.7em;
  font-size: 0.88em;  
}

.gllacy-hr {
  width: 95.6%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.gllacy-form {
  /*position: absolute;
  z-index: 15;
  top: 2.7em ;
  display: none;*/
  padding: 0.5em;
  border-radius: 6px;
  background-color: rgba(248, 247, 244, 1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.current:hover {
  cursor: default;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  font: inherit;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  word-wrap: break-word;
  border: 2px solid transparent;
  border-radius: 1em;
  color: white;
}

.btn-large {
  font-size: 2em;
}
.btn-normal {
  font-size: 1.2em;
}

.btn-trans-darker {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

.btn-trans-lighter {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.6;
}

.btn-white-text {
  color: white;
}

.btn-black-text {
  color: black;
}

.btn-red {
  background-color: rgba(240, 100, 65, 1);
  background-image:    -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image:     -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image:         linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0 3px 3px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.btn-red:hover { 
  background-color: rgba(242, 128, 102, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}  

.btn-red:active {
  background-color: rgba(221, 86, 58, 1);
  background-image:    -moz-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image:     -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image:     linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
} 

.btn-white-bordered {
  border: 2px solid white;  
  font-weight: 600;
}

.btn-1824 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.btn-3244 {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
}

.btn-hidden {
  display: none;
}

.btn-close {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: transparent;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 11px 11px;
}

/*.btn:hover {
  color:white;
}*/
.btn-close:hover {
  box-shadow: 0 0 1px 1px lightgrey;
  border-radius: 50%;
}

:focus { 
  outline:none;
  box-shadow: 0px 1px 2px 1px rgba(88, 88, 88, 0.8), 0px 4px 4px 4px rgba(222, 222, 222, 0.5);
  border-radius: 1em;  
}

.on-white-back:focus { 
  outline:none;
  box-shadow: 0px 1px 2px 1px rgba(188, 188, 188, 0.8), 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 1em;  
}

.on-white-back:hover {
  background-color: rgba(242, 128, 102, 0.5);
  box-shadow: 0px 2px 2px 2px rgba(88, 88, 88, 0.8), 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.on-dark-back:hover {
  background-color: rgba(242, 128, 102, 0.5);
  box-shadow:  0px 3px 3px 3px rgba(188, 188, 188, 0.8);
}

.underlined {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  color: white;
}

.header p,
.promo p,
.footer p,
.map p,
.catalog-header p {
  margin:0;
  padding:0;
}

/*.header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  min-height: 630px;
  margin: 0 auto;
  padding: 1em;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__menu-logo {
  flex-basis: 10%;
}*/

.main-menu,
.personal-menu,
.submenu, 
.catalog-items,
.about-items,
.footer-menu,
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-link,
.inline-link {
  display: inline-block;
  margin-left: 1em;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 1em;
  color: white;
  background-color: inherit;
}

.menu-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-menu .menu-link {
  padding: 0.5em;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);  
}

.main-menu .menu-link.current {
  text-decoration: none;
  background-color: rgba(240, 100, 65,1);
}

.main-menu .menu-link:hover {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.submenu {
  /*display: none; */
  overflow: hidden; 
  width: 143px;
  border-radius: 5px;
  color: black;
  background-color: rgba(248, 247, 244, 1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4); 
}

.submenu-link {
  display: inline-block;
  width: 100%;
  padding: 0.5em 1em;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  word-wrap: none;
  border-radius: 0;
  color: black;
  background-color: rgba(248, 247, 244, 1);
  opacity: 1;
}

.submenu-link.current {
  color: white;
  background-color: rgba(208, 112, 88, 1);
}

.submenu-link:hover {
  color: black;
  background-color: rgba(251, 222, 215, 1);
}
.submenu-link:active {
  color: black;
  background-color: rgba(246, 181, 165, 1);
}

.submenu-link.separated {
  padding: 0.7em 1em;
  font-weight: bold;
  border-bottom: 1px solid rgba(80, 80, 80, 0.2);
}

.personal-menu .menu-link {
  position: relative;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background-color: rgba(255, 255, 255, 0.1);
}

.personal-menu .menu-link:hover {
  color: black;
  background-color: white;
}

.personal-menu .menu-link:before {
  content: "";
  position: absolute;
  left: 0.5em;
  width: 20px;
  height: 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

.link-search {
  overflow: hidden;
  color:transparent;
  width: 2.5em;
  min-height: 2.5em;
}  

.link-search:before {
  background-image: url("../img/menu-loupe-white.svg");
}

.link-search:hover:before {
  background-image: url("../img/menu-loupe-black.svg");
}

/*.link-search:hover+.form-search,
  .link-entrance:hover+.form-entrance {
  display: block;    
}
.link-basket-full:hover+.form-basket {
  display: flex; z-index: 50;
}  */

.link-entrance:before {
  background-image: url("../img/menu-entrance-white.svg");
}

.link-entrance:hover:before {
  background-image: url("../img/menu-entrance-black.svg");
}

.link-basket-empty:before {
  background-image: url("../img/menu-basket-empty-white.svg");
}

.link-basket-full:before {
  background-image: url("../img/menu-basket-full-white.svg");
}

.link-basket-empty:hover:before {
  background-image: url("../img/menu-basket-empty-black.svg");
}

.link-basket-full:hover:before {
  background-image: url("../img/menu-basket-full-black.svg");
}

.header-info {
  /*flex-basis: 100%;
  align-items: stretch;*/
  margin-left: auto;
  text-align: right;
  vertical-align: top;
}

.header-info > p {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.header-info > p:nth-of-type(2) {
  font-size: 22px;
  line-height: 24px;
}

.header-title {
  font-size: 65px;
  line-height:65px;
  text-align: center;  
}

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  margin: 1.5em auto;
}

.promo-item {
  display: flex;
  flex-direction: column;
  flex-basis: 46.7%;
  justify-content: space-between;
  align-items: stretch;
  max-width: 46.7%;
  margin-left: 2.2%;
  padding:1em; 
  border-radius: 0.7em;
  background-color: inherit;
  background-repeat: repeat;
}

.promo-item:nth-of-type(2n) {
  margin-right: 2.2%;
}

.promo-item-title {
  margin: 0 0 0.5em;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.promo-item-text {
  padding: 0.5em;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  vertical-align: top;
}


.promo-item-button {
  margin-top: 1em;
  flex-grow: 0;
  align-self: flex-end;  
}

.promo-item:nth-of-type(1) {
  background-image:  url("../img/pattern-1.jpg");  
}

.promo-item:nth-of-type(2) {
  background-image: url("../img/pattern-2.jpg");  
}

.catalog-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  margin-top: 2.5em;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 22.2%;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0.2em;
}

.catalog-item-img {
  position: relative;
  width: 100%;
  max-width: 253px;
  margin: 2px auto;
  text-align: center;
  border-radius: 50%;
}

.catalog-item-price {
  position: relative;
  z-index: 5;
  top: -1.4em;
  left: 0.2em;
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -2px;
}

.catalog-item-price-currency:before {
  content: "";
  position: relative;
  top: 0.5em;
  display: inline-block;
  width: 45px;
  height: 45px;
  vertical-align: bottom;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog-item-unit,
.catalog-item-price-currency {
  font-size: 30px;
}

.catalog-item-name {
  overflow: hidden;
  height: 3em;
  margin-top: -1em;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.catalog-item.hit:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0.5em;
  left: 0.5em;
  display: inline-block;
  width: 61px;
  height: 61px;
  background-image: url("../img/catalog-hit.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog-item:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding-bottom: 55px;
  border-radius: 0.7em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  opacity: 0.2;
}

.catalog-item:hover.catalog-item:after {
  z-index: 1;
  display: inline-block;
}

.catalog-item:hover > .catalog-item-btn {
  position: absolute;
  z-index: 5;
  right: 1.8em;
  bottom: -2.5em;
  display: inline-block;
}

.catalog-item:hover > .catalog-item-name {
  z-index: 5;
}

.about {
  margin: 1.5em auto;
  padding: 1em;
  text-align: left;
  border-radius: 0.7em;
  color: black;
  background-color: inherit;
  background-image: url("../img/pattern-3.jpg");
  background-repeat: repeat;
}

.about-items {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  width: 95.6%; 
}

.about-title {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.about-item {
  position: relative;
  flex-basis: 50%;
  max-width: 50%;
  margin-top: 1em;
  padding-left: 4em;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.about-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.3em;
  display: inline-block;
  width: 49px;
  height: 49px;  
  border: 1px solid black;
  border-radius: 50%;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.about-item:nth-of-type(1):before {
  background-image: url("../img/about-ice-cream.svg");
}

.about-item:nth-of-type(2):before {
  background-image: url("../img/about-cow.svg");
}

.about-item:nth-of-type(3):before {
  background-image: url("../img/about-leaf.svg");
}

.about-item:nth-of-type(4):before {
  background-image: url("../img/about-thermometer.svg");
}

.other {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin: 1.5em auto;
}

.other-item {
  display: flex;
  flex-direction: column;
  flex-basis: 46.7%;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 46.7%;
  margin-left: 2.2%;
  padding: 0.5em 0.5em 1.5em;
  border-radius: 0.7em;
  color: rgba(50, 50, 50, 1);
  background-color: white;
}

.other-item:nth-child(2n) {
  margin-right: 2.2%;
}

.other-item-new {
  background: url("../img/other-strawberry.png") left center no-repeat, white;
  background-size: 150%  250%;
}

.other-item-new-title {
  display: inline-block;
  max-width: 60%;
  padding: 0 0.5em;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.8);
}


.other-item-new-details {
  display: inline-block;
  max-width: 60%;
  padding: 0.5em;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  vertical-align: top;
  text-decoration: underline;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.8);
}

.other-item-subscribe {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5em;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
  background-color: inherit;
  background-image: linear-gradient(white,white),  
  repeating-linear-gradient(-45deg, rgba(144, 205, 255, 1) 0, rgba(144, 205, 255, 1)  7px, white 7px, white 14px, rgba(253, 157, 145, 1)  14px, rgba(253, 157, 145, 1) 21px);
  background-repeat: no-repeat, repeat;
  background-origin: content-box, border-box;
}

.other-item-subscribe-text {
  flex-basis: 100%;
  margin: 1em;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;  
}

.other-item-subscribe-email {
  flex-basis: 65%;
  max-width: 65%;
  max-height: 2.6em;
  margin: 0.5em;
  padding: 1.5em;
  align-self: flex-end;
  font-size: 1em;
  border: 1px lightgrey solid;
  border-radius: 0.7em;
}


.other-item-subscribe-button {
  flex-basis: 25%;
  max-height: 2.6em;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  align-self: flex-end;
}

.map {
  position: relative;
  display: block;
  min-height: 430px;
  padding-right: 2.2%;
}

.map-info {
  position: absolute;
  z-index: 1;
  top: 64px;
  right: 2.2%;
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 305px;
  padding: 2em 1.6em;
  border-radius: 0.7em;
  color: black;
  background-color: white;
}

.map-info-p {
  margin: 0.2em;
  text-align: left;
}
.map-info-p:nth-child(n) {
  font-size: 14px;
  line-height: 20px;
}
.map-info-p:nth-child(2n) {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin:0.3em 0;
}

.map-info-feedback {
  margin: 2em auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 50px;
  font-size: 0.8em;  
}

.footer-part {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em;
  color: white;
}

.social-item {
  display: inline-block;
  overflow: hidden;
  width: 38px;
  height: 38px;
  margin-left: 0.5em;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0);
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-item-tw {
  background-image: url("../img/soc-twitter.svg");
}

.social-item-fb {
  background-image: url("../img/soc-facebook.svg");
}

.social-item-in {
  background-image: url("../img/soc-instagram.svg");
}

.social-item-vk {
  background-image: url("../img/soc-vk.svg");
}

.social-item:hover {
  opacity: 0.7;
}

.social-item:active {
  box-shadow: 1px 1px 0 2px rgba(136, 136, 136, 1) inset;   
}

.footer-menu {
  flex-basis: 50%;
}

.footer-menu-link {
  position: relative;
  flex-basis: 40%;
  margin: 0 0.5em;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.footer-menu-link.iconed {
  position: relative;
  font-weight: bold;
}


.footer-menu-link.iconed:before {
  content: "";
  position: absolute;
  display: inline-block;
  left:-1.4em;
  top: 0.2em;
  width: 15px;
  height: 13px;
  color: rgba(255, 255, 255, 0);
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/heart.svg ");  
}

/*.catalog-header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 1em;
  background-color: inherit;
  opacity: 0.7;
}*/

.catalog-title {
  margin: 1em;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 73.2%;
  margin-left: 2.2%;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  vertical-align: middle;
}

.filter-options,
.filter-radios {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.1em;
}

.filter-option,
.filter-radio {
  display: inline-block;
  padding: 0.5em 0 0.5em 1.5em;
}

.filter-sorting {
  align-self: stretch;
  width: 100%;
  padding: 0.5em 0;
  border: 1px solid transparent;
  border-radius: 1em;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.gllacy-fieldset-sorting {
  flex-basis: 20%;
}

.gllacy-fieldset-price {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.gllacy-fieldset-fatness {
  flex-basis: 60%;
}

.filter-range {
  width: 100%;
}

.filter-sorting-item {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-logo {
  cursor: pointer;
} 

.form-search {
  left: -3.5em;
  width: 341px;   
}

.form-entrance {
  left:  10em;
  width: 241px; 
}

.form-entrance-password {
  margin:0.5em 0;
}

.form-entrance-controls {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;
}

.form-entrance-button {
  margin: 0 auto;
  flex-shrink: 0;
}

.form-entrance-link-wrapper {
  flex-direction: column;
  padding: 0.5em;
}

.form-entrance-link {
  display: inline-block;
  flex-basis: 100%;
  font-size: 0.81em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.form-basket {
  left:  -2em;
  width: 541px; 
  font-size: 0.81em;
  color:black;
  padding: 1em;  
  flex-direction: column;
  align-items: flex-end;
}

.form-basket-table {
  border-spacing: 0.5em;
  border-collapse: separate;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

.form-basket-cell-img {
  border-radius: 50%; 
  width:35px;
}

.form-basket-total {
  margin: 1em;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0.05em;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1em;
  list-style: none;
}

.breadcrumbs-item:not(:nth-child(1)):before {
  content: "\00BB";
  position: relative;
  top: 0.1em;
  left: 0.5em;
}

.breadcrumbs-link.current:hover {
  color:white;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 3.5em 2.2% 1.5em 0;
  list-style: none;
}

.pagination-link {
  padding: 0.2em 0.5em;
  border-radius: 50%;
}

.pagination-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link.current {
  color: black;
  background-color: white;  
}

.gllacy-field {
  width: 100%;
  padding: 0.5em;
  border: 1px  solid rgba(178, 178, 178, 1);
  border-radius: 5px;
  color: rgba(153, 153, 153, 1);
  background-color: rgb(255, 255, 255, 1);
  font-size:16px;
}

.gllacy-field:hover {
  border: 2px  solid rgba(154, 154, 154, 1);
}

.gllacy-field:focus {
  border: 2px  solid rgba(46, 136, 228, 1);
}

.gllacy-field:valid {
  font-weight: bold;
}

.shadowed { 
  background-color: rgb(248, 247, 244, 1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form-feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 477px;
  padding: 1.5em;
}

.form-feedback-item {
  width: 60%;
  margin-bottom: 1em;
  align-self: flex-start;
  font-size: 16px;
}

.form-feedback-close {
  padding: 0.5em;
  border: none;
  background-color: transparent;
}

.form-feedback-title {
  margin: -1em 0 1em;
  align-self: flex-start;
  font-size: 1.5em;
  font-weight: 600px;
  text-align: left;
  color: black;
}

.form-feedback-text {
  width: 100%;
}

.link-disabled,
.link-disabled:hover {
  color:lightgrey;
  cursor: default;
  background-color: transparent;
}